@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.react-calendar__navigation__label__labelText {
    font-weight: 300 !important;
}

.react-calendar__tile--active {
    background-color: #C3EBFA !important;
    color: black !important;
}

.rbc-btn-group:first-child {
    display: none !important;
}


.rbc-btn-group:last-child {
   
    font-size: 13px !important;

}

.rbc-btn-group:last-child button {
    border: none !important;
    background-color: #dbc8ed !important;
    margin-left: 2px !important;
    color: #9265e0 !important;

}

.rbc-toolbar-label{
     text-align: right !important;
     padding : 0px 2px !important;
     margin-right: 5px !important;

}


.rbc-btn-group:last-child button.rbc-active {
    background-color: #c0aeea !important;
    color: rgb(5, 5, 65) !important;
    box-shadow: none !important;
}

.rbc-time-view{
    border-color: aliceblue !important;
}

.rbc-time-header{
    display: none !important;
}

.rbc-time-content{
    border: none !important;
}

.rbc-time-gutter.rbc-time-column{
    font-size: smaller !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timesolt-group{
    padding: 0px 20px !important;
}

.rbc-timesolt-group{
    background-color: #f7fdff !important;
}

.rbc-day-slot{
    font-size: 14px !important;
}

.rbc-event{
    border: none !important;
    color: black !important;
    padding: 10px  !important;
    margin:10px !important;
    width: 99% !important;


}

.rbc-event:nth-child(1){
    background-color: #6fbfe8 !important;
}

.rbc-event:nth-child(2){
    background-color: #d7e87a !important;
}   

.rbc-event:nth-child(3){
    background-color: #e77a89 !important;
}

.rbc-event:nth-child(4){
    background-color: #f895f1 !important;
}                       

.rbc-event:nth-child(5){
    background-color: #e9c68a !important;
}   

.rbc-event:nth-child(6){
    background-color: #9f87e6 !important;
}

.rbc-event:nth-child(7){
    background-color: #91eabf !important;
}   

.rbc-event:nth-child(8){
    background-color: #45353f !important;
}

.rbc-event-label{
    color: gray !important;
    margin-bottom: 5px !important;

}

/* chat-bot */

.cs-main-container{
    border: none !important;
    background: none !important;
}

